body, html, * {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    background-image: url(images/spongebob_background.png);
}
title {
    opacity: 0;
}
#ptrkIMG{
    transition: all 3s;
}
#sqwdIMG{
    width: 64px;
    background-image: url(images/Squidward_Tentacles.png);
    background-size: cover;
    transition: all 0.5s ease;
}
#sandIMG{
    transition: all 1s ease;
}
#krabIMG{
    transition: all 1s;
}
#plnkIMG{
    transition: all 1s;
}
#karnIMG{
    transition: all 2s;
}
#laryIMG{
    transition: all 3s;
}
#spngIMG:hover{
    animation: spngIMG 1.75s infinite;
} 
#ptrkIMG:hover{
    transform: rotate(10turn);
}
#sqwdIMG:hover{
    animation: sqwdIMG 3s infinite;
}
#sandIMG:hover{
    transform: rotateX(360deg);
}
#krabIMG:hover{
    filter: blur(10px);
}
#plnkIMG:hover{
    transform: skew(80deg, 5deg);
}
#karnIMG:hover{
    filter: grayscale(100%);
}
#laryIMG:hover{
    transform: scale(3);
}
#garyIMG:hover{
    animation: garyIMG 1.75s infinite;
}
@keyframes spngIMG {
    0%, 100%{
        transform: scale(1);
    }
    12.5%, 37.5%, 62.5%, 87.5%{
        transform: scale(1.25, 0.5);
    }
    25%, 50%, 75%{
        transform: scale(1.25);
    }
}
@keyframes sqwdIMG {
    0%, 50%, 100%{
        transform: rotate3d(1, 1, 1, 20deg);
    }
    25%, 75%{
        transform: rotate3d(1, 1, 1, -20deg);
    }
    50%{
        background-image: url(images/squidward_hover.jpg);
        width: 130px;
    }
    100%{
    }
}
@keyframes garyIMG {
    0%, 75%{
        background-color: rgb(88, 152, 208);
    }
    0%, 50%, 100%{
        transform: rotate3d(1, 1, 1, 20deg);
    }
    25%, 50%{
        background-color: rgba(255, 255, 255, 0);
    }
    25%, 75%{
        transform: scale(2) rotate3d(1, 1, 1, -20deg);
    }
}
.title-container {
    font-family: 'SpongeBob Font Wide', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
}
h1 {
    color: rgb(168, 165, 125);
    font-size: 7rem;
    text-shadow: 5px 5px 2.5px rgb(0, 0, 0);
}
.container{
    width: 85vw;
    margin: auto;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    grid-row-gap: 2vw;
    padding: 1rem;
    font-family: 'SpongeBob Font Wide', sans-serif;
}
.card{
    height: 37rem;
    width: 17%;
    margin-top: 2%;
    padding: 1vw;
    border: 7px solid black;
    border-radius: 1cm;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2vw;
    box-shadow: 10px 10px 5px rgb(41, 62, 65);
}
.card-img{
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.card-header{
    font-size: 200%;
    text-align: center;
}
.info{
    text-align: center;
}
#Spongebob {
    background: linear-gradient(45deg,rgb(151, 255, 23), rgb(255, 243, 96));
}
#Patrick {
    background: linear-gradient(45deg,rgb(101, 29, 255), rgb(249, 167, 248));
}
#Squidward {
    background: linear-gradient(45deg,rgb(55, 52, 255),  rgb(158, 244, 255));
}
#Sandy {
    background: linear-gradient(45deg,rgb(255, 208, 0),  rgb(185, 136, 84));
}
#Krabs {
    background: linear-gradient(45deg,rgb(142, 5, 5),  rgb(255, 96, 96));
}
#Plankton {
    background: linear-gradient(45deg,rgb(22, 20, 176),  rgb(106, 194, 125));
}
#Karen {
    background: linear-gradient(45deg,rgb(152, 255, 120),  rgb(136, 136, 136));
}
#Larry {
    background: linear-gradient(45deg,rgb(0, 213, 255),  rgb(109, 155, 194));
}
#Gary {
    background: linear-gradient(45deg,rgb(255, 52, 164), rgb(198, 126, 191));
}
@media (max-width: 1290px) {
    h1 {
        font-size: 5rem;
    }
    .container {
        width: 100%;
        justify-content: center;
    }
    .card {
        width: 40%;
        height: 30rem;
    }
    .card-header {
        font-size: 3vw;
    }
}
@media (max-width: 724px){
    .container {
        width: 100%;
    }
    .card {
        width: 80%;
        height: 30rem;
    }
    .card-header {
        font-size: 4vw;
    }
}